<style>
    img.centered {
   display: block;
   margin: auto auto;
}

img{
    width: 400px;
    height: 300px;
}
</style>



{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="content-section bg-light" id="portfolio">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1>하연's 포트폴리오</h1>
          <p class="lead mb-5">2019 연세대학교 멋쟁이 사자처럼</p>
        <div>
          <img src="{% static 'portfolio/img/likelion__khy__.PNG'%}" alt="이것은 2018 멋사 수료증!" id="myImg">
        </div><br>
          <a href = "{%url 'download'%}">파일 다운받기</a>
       <br><br>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="{% url 'new_portfolio' %}">포트폴리오나 쓰자</a>
        </div>
      </div>
    </div>
  </section>
<!-- The Modal -->

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">수료증 자세히 보기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img class="modal-content" id="img01">
          </div>
          <div id="caption"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="Close">Close</button>
          </div>
        </div>
      </div>
    </div>


<div class="album py-5 bg-dark" id="portfolio-chart">
    <div class="container">
      <div class="row">

        {%for p in post%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ p.image.url }}" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">{{p.summary}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "{%url 'portfolio_detail' p.pk %}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{p.author}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  <link href="{% static 'portfolio/css/myportfolio.css' %}" rel="stylesheet">
  <script src="{% static 'portfolio/js/port_script.js' %}"></script>
  

{% endblock %}

