<style>
.oldColor{
  color: gray
}

.newColor {
  color: red
}
</style>

{% extends 'main/base.html' %}
{%block content%}

    <!-- About -->
    <section class="content-section bg-light" id="about">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <h2>클라스 라이언 3주차 과제 듣는중</h2>
                  <p class="lead mb-5">4주차 - 1. pk, path converter, get_object_or_404 그리고
                    <a href="https://class.likelion.org/lectures/django/23">blog project</a>를 시작한다!</p>
                  <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">방명록이나 쓰자</a>
                </div>
              </div>
            </div>
          </section>

 <!-- Portfolio -->
 <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2>Posts</h2> 
        <h3 class="mb-5">방명록을 작성해주오 
          <a href='{% url "new" %}'><i class="fa fa-pencil"></i></a></h3>
      </div>
      {%for post in posts%}
          <h1><a href='{% url "post_detail" post.pk %}'>{{post.title}}</a></h1>
                <p>{{post.summary}}<a href='{% url "post_detail"  post.pk %}'>...more</a></p>
                <p><em>{{post.created_at}} | by: {{post.author}}</em></p>
          <hr>
    {%endfor%}
    </div>
</section>

 <!-- Callout -->
 <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>2019</em>
        Like Lion!</h2>
      <a class="btn btn-primary btn-xl" href="https://class.likelion.org/">멋사 깨알 홍보</a>
    </div>
  </section>
{% endblock %}

 <!-- Callout -->
 <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>2019</em>
        Like Lion!</h2>
      <a class="btn btn-primary btn-xl" href="https://class.likelion.org/">멋사 깨알 홍보</a>
    </div>
  </section>

  <!-- <script>
    $(".fa fa-pencil").click(function(){
      $(this).toggleClass('oldColor', 'newColor');
    })
  </script> -->